 html, body {
     margin: 0;
     padding: 0;
     background-color: black;
 }
 
 
header, footer {
    text-align: center;
    color: crimson;
}

header {
    font-family: 'Hanalei Fill';
    font-size: 50px;
}

h3 {
    margin: 0;
    padding: 0;
}

footer {
    font-size: 20px;
    font-family: 'Langar';
}
    
#game{
    border: 5px solid black;
    width: 100vw;
    height: 75vh;
    background-image: url('Creations/RaccoonCity.jpg');
    background-position-x: center;
    }






